body {
  background-image: url(./img/bg.jpg);
}
h1,
h3 {
  background-color: aliceblue;
  color: black;
  text-align: center;
}
.menu {
  background-color: antiquewhite;
  color: blue;
  font-style: italic;
  text-align: right;
}
.menu a {
  text-decoration: none;
  cursor: pointer;
}
p {
  background-color: whitesmoke;
}
.gallery {
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
input[type="text"],
select {
  width: 100%;
  height: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.contact-form {
  top: 50px;
  margin: 15px auto;
  width: 300px;
  height: 380px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type="textarea"],
select {
  width: 100%;
  height: 150px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: initial;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
